.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include mobile {
    padding: 20px 0;
    flex-direction: column;
  }
}

.burger-btn {
  display: none;
  color: $light;
  @include mobile {
    display: block;
    position: absolute;
    right: 0;
  }
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  text-shadow: 0 0 3px #444;
  letter-spacing: 6px;
  user-select: none;
}

.menu {
  display: flex;
  padding: 20px 0;
  transition: .5s;
  &.active {
    max-height: 300px;
  }
  li+li {
    margin-left: 16px;
  }
  a {
    padding: 16px 8px;
    color: inherit;
    display: block;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 50%;
      left: 50%;
      bottom: 5px;
      height: 2px;
      background-color: $highlight;
      transition: .4s;
    }
    &:hover {
      opacity: .75;
      &::after {
        right: 0;
        left: 0;
      }
      & i {
        transform: rotateX(360deg);
      }
    }
  }
  i {
    font-size: 14px;
    color: $highlight;
    padding-right: 6px;
    transition: .4s;
  }
  @include mobile {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -20px;
    right: -20px;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .65);
    backdrop-filter: blur(5px);
    li+li {
      margin: 0;
    }
    a {
      text-align: center;
      &:hover {
        background-color: #fff;
      }
    }
    a::after, i {
      display: none;
    }
  }
}

.banner {
  height: 400px;
  margin-bottom: 48px;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  h2 {
    font-size: 36px;
    padding: 24px;
    color: #fff;
    text-shadow: $primary 0 0 4px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .05);
  }
  @include pad {
    h2 {
      font-size: 30px;
    }
  }
  @include mobile {
    height: 300px;
    .container {
      justify-content: center;
    }
    h2 {
      font-size: 26px;
    }
  }
}

.title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 48px;
  &::after {
    content: '';
    display: block;
    width: 25px;
    left: 0;
    right: 0;
    margin: 15px auto;
    height: 3px;
    background-color: $primary;
  }
  @include mobile {
    font-size: 24px;
  }
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    width: 30%;
  }
  img {
    width: 500px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 16px;
  }
  h4 {
    text-align: center;
    font-size: 18px;
  }
  @include mobile {
    li {
      width: 80%;
      margin: 0 auto 24px;
    }
    img {
      width: 100%;
      margin-bottom: 8px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

.search- {
  &block {
    display: flex;
    flex-wrap: wrap;
    select, input {
      margin-right: 16px;
    }
    @include mobile {
      display: block;
      select, input, button {
        width: 100%;
        margin-bottom: 8px;
      }
      select, input {
        margin-right: 0;
      }
    }
  }
  &bg {
    padding: 20px 0;
    background-color: $lighter;
  }
  &keyword {
    min-width: 230px;
  }
}

.product- {
  &block {
    padding: 32px 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 54px;
    @include pad {
      justify-content: center;
    }
  }
  &item {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 16px 42px;
    background-color: $lighter;
    position: relative;
  }
  &img {
    height: 220px;
  }
  &body {
    padding: 16px 24px 32px;
    text-align: justify;
    margin-bottom: auto;
    p {
      font-size: 14px;
    }
  }
  &title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
  }
  &footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
  }
  @include mobile {
    &item {
      margin-bottom: 24px;
    }
    &title {
      font-size: 18px;
      margin-bottom: 0;
    }
    &body {
      padding-bottom: 8px;
      p {
        display: none;
      }
    }
  }
}

.tag {
  color: #fff;
  letter-spacing: 2px;
  text-shadow: $primary 0 0 3px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.origin-price {
  color: $light;
  font-size: 14px;
  font-style: italic;
}

.discount-price {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid $highlight;
}

.cart- {
  &table {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    th {
      padding: 8px;
      font-weight: bold;
      border-bottom: 1px solid $light;
    }
    td {
      padding: 8px;
    }
    tbody tr:hover {
      background-color: rgba($lighter, .5);
    }
    label {
      padding: 0 4px;
    }
    a {
      &::before {
        content: '\f00d';
        display: inline-block;
        font-family: 'Font Awesome 5 Pro';
      }
      &:hover {
        color: $highlight;
      }
    }
    button:hover {
      box-shadow: 1px 1px 3px $light;
    }
  }
  &flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &img {
    width: 80%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    @include mobile { 
      display: none;
    }
  }
  &total {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 1px;
  }
}

.empty-cart {
  margin: auto;
}

.reservation-form {
  max-width: 350px;
  margin: 16px auto 0;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    justify-content: space-between;
  }
  label {
    padding-bottom: 8px;
  }
  input,
  select {
    margin-bottom: 16px;
    border-color: rgba($light, .5);
    &:focus,
    &:hover {
      border-color: rgba($light, 1);
    }
    &:focus {
      box-shadow: 0 0 6px rgba($light, .4);
    }
  }
  button {
    margin-top: 12px;
    align-self: center;
  }
  .feedback {
    font-size: 14px;
    color: $highlight;
    text-align: right;
    user-select: none;
  }
}

.section, hr {
  margin-bottom: 96px;
  @include mobile {
    margin-bottom: 48px;
  }
}

.order- {
  &top {
    text-align: right;
  }
  &table {
    width: 100%;
    font-size: 13px;
    margin: 16px 0;
    word-break: break-all;
    th,
    td {
      padding: 8px;
    }
    th {
      color: #fff;
      background-color: $primary;
    }
    td {
      text-align: center;
      border: 1px solid rgba($light, .4);
    }
    button {
      padding: 0;
      &:hover {
        opacity: .6;
      }
    }
    a {
      color: $highlight;
      &:hover {
        opacity: .7;
      }
    }
  }
}

.footer {
  padding: 20px 0;
  text-align: center;
  background-color: $lighter;
}

@include pad {
  .table-responsive {
    overflow: auto;
  }
}